<style>
     /* Fig cooling, perfume */
    /*Cooling */
    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .title_pf_cl) {
        &  {
            position: absolute;
            top: 0px;
            left: -7em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .title_pf_cl) {
        & p {
            font-size: 0.65em;
            line-height: 20px;
            text-align: 1em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .title_pf_cl) {
        background-color: rgb(5, 36, 54);
        border-radius: 5px;
        height: 2em;
        width: 12.5em;
        
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .cool) {
        &  {
            position: absolute;
            top: 1em;
            left: 0em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .fig_cool) {
        &  {
            position: absolute;
            top: 1em;
            left: -8em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .cl_c1) {
        &  {
            position: absolute;
            top: 7em;
            left: -5em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .cl_c2) {
        &  {
            position: absolute;
            top: 7em;
            left: 1em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .cl_c3) {
        &  {
            position: absolute;
            top: 10.5em;
            left: -5em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .cl_c4) {
        &  {
            position: absolute;
            top: 10.5em;
            left: 1em;
        }
    }

    /* Perfume */
    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .perfume) {
        &  {
            position: absolute;
            top: 6em;
            left: 0.3em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .fig_perfume) {
        &  {
            position: absolute;
            top: 8em;
            left: -8em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .pf_p1) {
        &  {
            position: absolute;
            top: 14em;
            left: -8em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .pf_p2) {
        &  {
            position: absolute;
            top: 14em;
            left: -2em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .pf_p3) {
        &  {
            position: absolute;
            top: 14em;
            left: 4em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .pf_p4) {
        &  {
            position: absolute;
            top: 17.5em;
            left: -8em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .pf_p5) {
        &  {
            position: absolute;
            top: 17.5em;
            left: -2em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .pf_p6) {
        &  {
            position: absolute;
            top: 17.5em;
            left: 4em;
        }
    }
</style>