<style>
    /* div[data-testid="stVerticalBlockBorderWrapper"]:has(> div > .stHtml > .dashboard_pg) {
        padding-bottom: 10em;
    } */
    /* Điều khiển tổng các phần tử trong dashboard trừ title  */
    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .dashboard_control) {
        & {
            position: absolute;
            top: 3em;
            left: 1em;
        }
    }

    div[data-testid="stHorizontalBlock"] {
        & {
            display: flex;
            justify-content: space-between;
        }
    }

    /* title_dashboard */
    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .title_dashboard) {
        & {
            box-shadow: 0px 0px 20px rgba(4, 12, 226, 0.2);
            border-radius: 10px;
            position: absolute;
            width: 70%;
            top: -3em;
            left: 5%;
        }
    }

    h3 span {
        font-family: "Open Sans", sans-serif;
        font-size: 1.1em;
        font-weight: 700;
        color: #009999;
        text-align: center;
        line-height: 1.2em;
    }

    /*fig wh1 */
    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .control_wh1) {
        & {
            position: absolute;
            top: 0em;
            left: 1em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .info_wh1) {
        & {
            position: absolute;
            top: 0em;
            left: -4.5em;
        }
    }


    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .info_wh1) {
        background-color: #174C4F;
        border-radius: 5px;
        height: 2em;
        width: 9em;

    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .fig_wh1) {
        & {
            /* color: #174C4F;
            font-family: "Open Sans", sans-serif;
            font-size: 1em;
            font-weight: 700; */
            position: absolute;
            top: 2em;
            left: -7.5em;
        }
    }

    /* fig wh2 */
    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .control_wh2) {
        & {
            position: absolute;
            top: 0em;
            left: 0.9em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .info_wh2) {
        & {
            position: absolute;
            top: 0px;
            left: -5em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .info_wh2) {
        background-color: #174C4F;
        border-radius: 5px;
        height: 2em;
        width: 9em;

    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .fig_wh2) {
        & {
            /* color: #174C4F;
            font-family: "Open Sans", sans-serif;
            font-size: 1em;
            font-weight: 700; */
            position: absolute;
            top: 2em;
            left: -8em;
        }
    }

    /* fig wh3 */
    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .control_wh3) {
        & {
            position: absolute;
            top: 0em;
            left: 0.9em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .info_wh3) {
        & {
            position: absolute;
            top: 0px;
            left: -5.5em;
        }
    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .info_wh3) {
        background-color: #174C4F;
        border-radius: 5px;
        height: 2em;
        width: 9em;

    }

    div[data-testid="stVerticalBlock"]:has(> div > .stHtml > .fig_wh3) {
        & {
            /* color: #174C4F;
            font-family: "Open Sans", sans-serif;
            font-size: 1em;
            font-weight: 700; */
            position: absolute;
            top: 2em;
            left: -8.6em;
        }
    }


    /* chữ title wh1,2,3 */
    div[data-testid="stMarkdown"] p {
        font-size: 0.9em;
        color: white;
        font-weight: bold;
        text-align: left;
        line-height: 0.7em;
        padding: 0.8em 2em;

    }

    /* style metric rgba(58, 59, 69, 0.15) */
    div[data-testid="stMetric"] {
        background-color: burlywood;
        border: 2px solid #CCCCCC;
        padding: 0.1em 0.9em;
        margin: -1em;
        border-radius: 5px;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(235, 238, 236, 0.15);
        height: 3.2em;
        width: 5.3em;
    }

    label[data-testid="stMetricLabel"] p {
        font-size: 0.9em;
        color: #000066;
        font-weight: 700;
    }

    label[data-testid="stMetricLabel"] {
        margin-left: 0px;
    }

    div[data-testid="stMetricValue"] {
        font-size: 1.3em;
        font-weight: 700;
        color: #174C4F;
        text-align: center;
        line-height: 2em;
    }
</style>